section {
    background-repeat: no-repeat;
    background-size: 100%;
    color:brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    z-index: 1;    
}


h2 {
    text-align: center;
}

ul {
    width: 200;
}

button {
    width: 200px;
    font-weight: bold;
}

/*
.transparent {
    background-color: rgba(248, 250, 248, 0.5);
    position: relative;
    z-index: 2;
}
*/

div {
    background-color: rgba(248, 250, 248, 0.5);
}

#choices-div {
    border: grey solid;
}

#results-div {
    background-color: rgba(248, 250, 248, 0.0);
    height: 200px;
    width: 400px;
    border: none;
}